body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(206, 199, 199);
  overflow: hidden; 
}

.container {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff; /* Blanco */
  margin-bottom: 100px;
}

.BI {
  background-color: white;
  color: rgb(206, 199, 199);
  border: none;
  padding: 15px 100px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
}

button:hover {
  background-color: gray;
  color: #fff; 
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fcec04; 
  z-index: -1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


  